apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: {{ app_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: "{{ acr_registry }}/redis:6.0.8"
          ports:
            - containerPort: 80
